<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.example.springboot.dao.CrmdataMapper">


    <select id="SelectCrmdataByPhone" resultType="int">

        SELECT COUNT(*) FROM `crmdata` WHERE phone=#{phone}

    </select>
    <insert id="InsertCrmdata">

        INSERT INTO `crmdata` VALUE(NULL,#{phone},#{source},#{url},#{con},'自己录入',DEFAULT,#{uname},#{uid},DEFAULT,DEFAULT,#{ip},#{plankey},DEFAULT)

    </insert>

    <insert id="InsertCrmdata2">

        INSERT INTO `crmdata`  VALUE(NULL,#{phone},#{source},#{url},#{con},'接口提交',DEFAULT,DEFAULT,DEFAULT,DEFAULT,-2,#{ip},#{plankey},DEFAULT)
    </insert>

    <insert id="InsertCrmdata3">

        INSERT INTO `crmdata`  VALUE(NULL,#{phone},#{source},#{url},#{con},'客户录入',DEFAULT,DEFAULT,DEFAULT,DEFAULT,-2,#{ip},#{plankey},DEFAULT)
    </insert>
    <insert id="InsertCrmdata4">
        INSERT INTO `crmdata`  VALUE(NULL,#{phone},#{source},#{url},#{con},'批量录入',#{firsttime},DEFAULT,DEFAULT,DEFAULT,-2,#{ip},#{plankey},DEFAULT)
    </insert>

    <insert id="InsertCrmdata5">
        INSERT INTO `crmdata`  VALUE(NULL,#{phone},#{source},#{url},#{con},'批量流入',#{firsttime},DEFAULT,DEFAULT,DEFAULT,88,#{ip},#{plankey},DEFAULT)
    </insert>

    <insert id="ApiJiMuYuCon_Add">

        INSERT INTO `crmdata`  VALUE(NULL,#{phone},#{source},#{url},#{con},'基木鱼',#{firsttime},DEFAULT,DEFAULT,DEFAULT,-2,#{ip},#{plankey},DEFAULT)

    </insert>

    <select id="SelectCrmdataByIp" resultType="int">

        SELECT COUNT(*) FROM `crmdata`  WHERE ip=#{ip}

    </select>

    <select id="CrmdataAll" resultType="com.example.springboot.entity.Crmdata">

        SELECT * FROM crmdata WHERE stat=0 ORDER BY firsttime DESC  LIMIT #{page},10

    </select>

    <select id="CrmdataAll2" resultType="com.example.springboot.entity.Crmdata">

        SELECT * FROM crmdata WHERE stat=#{stat} ORDER BY firsttime DESC  LIMIT #{page},10

    </select>

    <select id="CrmdataAll3" resultType="com.example.springboot.entity.Crmdata">

        SELECT * FROM crmdata WHERE lastuid=0 AND stat=0 ORDER BY firsttime DESC  LIMIT #{page},10

    </select>

    <select id="CrmdataAll4"  resultType="com.example.springboot.entity.Crmdata">


        SELECT cid,REPLACE(phone,SUBSTR(phone,4,4),'****') phone,firsttime,source,(SELECT  lastcon FROM `record`  WHERE cid =crmdata.`cid` ORDER BY lasttime DESC  LIMIT 0,1 ) AS con  FROM crmdata AS crmdata  WHERE  stat>0  ORDER BY firsttime DESC  LIMIT #{page},10

    </select>

    <select id="CrmdataAll5" resultType="com.example.springboot.entity.Crmdata">

        SELECT cid,REPLACE(phone,SUBSTR(phone,4,4),'****') phone,firsttime  FROM crmdata WHERE  stat=-2  ORDER BY firsttime DESC  LIMIT #{page},10


    </select>

    <select id="CrmdataByUid" resultType="com.example.springboot.entity.Crmdata" >

        SELECT * FROM `crmdata` WHERE lastuid=#{uid} AND stat=0 ORDER BY firsttime DESC  LIMIT #{page},10

    </select>

    <select id="CrmdataByCid" resultType="com.example.springboot.entity.Crmdata">

        SELECT * FROM `crmdata` WHERE cid=#{cid}

    </select>

    <update id="UpdateCrmdataById" >

        UPDATE  `crmdata` SET lastuname=#{lastuname},lastuid=#{lastuid},lasttime=#{lasttime} WHERE cid=#{cid}

    </update>
    <update id="UpdateCrmdataById2">

        UPDATE  `crmdata` SET lastuname=#{lastuname},lastuid=#{lastuid},lasttime=#{lasttime} ,stat = 0 WHERE cid=#{cid}

    </update>

    <update id="UpdateStatByByCid" >

        UPDATE  `crmdata` SET stat=#{stat} WHERE cid=#{cid}

    </update>

    <select id="SelectYouXiao" resultType="com.example.springboot.entity.Crmdata">

        SELECT * FROM `crmdata` AS a INNER JOIN `setuser` AS b   WHERE a.`cid`=b.`cid`AND  b.uid=#{uid} AND a.`lastuid` = b.uid AND a.`stat`=-1 AND b.`state`=0 AND iid=-1 ORDER BY a.`lasttime` DESC  LIMIT #{page},10


    </select>
    <select id="SelectYouXiaoByColorSort" resultType="com.example.springboot.entity.Crmdata">

        SELECT * FROM `crmdata` AS a INNER JOIN `setuser` AS b   WHERE a.`cid`=b.`cid`
                                                                   AND  b.uid=#{uid}
                                                                   AND a.`lastuid` = b.uid
                                                                   AND a.`stat`=-1
                                                                   AND b.`state`=0 AND iid=-1 ORDER BY  color DESC  LIMIT #{page},10

    </select>

    <select id="SelectYouXiaoSearh" resultType="com.example.springboot.entity.Crmdata" >

        SELECT * FROM `crmdata` AS a INNER JOIN `setuser` AS b   WHERE a.`cid`=b.`cid`
                                                                   AND  b.uid=#{uid}
                                                                   AND a.`lastuid` = b.uid
                                                                   AND a.`stat`=-1 AND b.`state`=0 AND iid=-1
                                                                   AND (phone LIKE CONCAT('%',#{phone},'%') OR con LIKE CONCAT('%',#{phone},'%'))  AND color = #{color}  ORDER BY a.`cid` DESC  LIMIT #{page},10

    </select>
    <select id="SelectYouXiaoSearhAndColorIsNull" resultType="com.example.springboot.entity.Crmdata" >

        SELECT * FROM `crmdata` AS a INNER JOIN `setuser` AS b   WHERE a.`cid`=b.`cid`
                                                                   AND  b.uid=#{uid}
                                                                   AND a.`lastuid` = b.uid
                                                                   AND a.`stat`=-1 AND b.`state`=0 AND iid=-1
                                                                   AND (phone LIKE CONCAT('%',#{phone},'%') OR con LIKE CONCAT('%',#{phone},'%'))  ORDER BY a.`cid` DESC  LIMIT #{page},10


    </select>
    <select id="SelectYouXiaoSearhAndPhoneIsNull" resultType="com.example.springboot.entity.Crmdata" >

        SELECT * FROM `crmdata` AS a INNER JOIN `setuser` AS b   WHERE a.`cid`=b.`cid`
                                                                   AND  b.uid=#{uid}
                                                                   AND a.`lastuid` = b.uid
                                                                   AND a.`stat`=-1 AND b.`state`=0 AND iid=-1
                                                                   AND color = #{color}  ORDER BY a.`cid` DESC  LIMIT #{page},10


    </select>

    <select id="SelectYouXiaoCount" resultType="int">

        SELECT COUNT(*) FROM `crmdata` AS a INNER JOIN `setuser` AS b   WHERE a.`cid`=b.`cid`AND  b.uid=#{uid}   AND a.`lastuid` = b.uid AND a.`stat`=-1 AND b.`state`=0

    </select>

    <select id="Selectpastuser" resultType="com.example.springboot.entity.Crmdata">

        SELECT * FROM `crmdata` WHERE lastuid=#{uid} AND stat =-1 LIMIT #{page},10

    </select>

    <select id="SelectpastuserSearch" resultType="com.example.springboot.entity.Crmdata">

        SELECT * FROM `crmdata` WHERE lastuid=#{uid} AND stat =-1 AND phone=#{phone}

    </select>

    <update id="UpdateCrmDataByIdCon">

        UPDATE `crmdata` SET con=#{con} WHERE cid=#{cid}
    </update>
    <select id="SelectCrmdataBySource" resultType="com.example.springboot.entity.Crmdata" >

        SELECT *,(SELECT (lastcon) FROM `record`   WHERE  cid= `crmdata`.cid ORDER BY lasttime DESC LIMIT 0,1 ) AS lastcon FROM `crmdata` WHERE `source` LIKE(${source}) AND firsttime>#{starttime} AND firsttime &lt;#{endtime} ORDER BY cid DESC  LIMIT #{page},10


    </select>
    <select id="SelectCrmdataBySourceBySourceIsNull"  resultType="com.example.springboot.entity.Crmdata">

        SELECT *,(SELECT (lastcon) FROM `record`   WHERE  cid= `crmdata`.cid ORDER BY lasttime DESC LIMIT 0,1 ) AS lastcon FROM `crmdata` WHERE  firsttime>#{starttime} AND firsttime &lt;#{endtime} ORDER BY cid DESC  LIMIT #{page},10

    </select>
    <select id="SelectCrmdataBySourceSize" resultType="com.example.springboot.entity.SourceSize">

        SELECT COUNT(*) AS allSize,${source} AS sourcename,
               (SELECT COUNT(*) FROM `crmdata` WHERE `source` LIKE(${source}) AND firsttime>#{starttime} AND firsttime&lt; #{endtime}  AND stat IN(-2,0,-1)) AS effectiveSize ,
               (SELECT COUNT(*) FROM `crmdata` WHERE `source` LIKE(${source})  AND firsttime> #{starttime} AND firsttime&lt; #{endtime}  AND stat>=1 ) AS invalidSize
        FROM `crmdata` AS c WHERE `source` LIKE(${source}) AND firsttime> #{starttime} AND firsttime&lt; #{endtime}

    </select>



    <select id="SelectCrmdataCount"  resultType="com.example.springboot.entity.CrmdataCount">

        SELECT COUNT(*) AS `sumcount`,
               (SELECT COUNT(*)  FROM `crmdata` WHERE source LIKE(${source}) AND
                   firsttime>#{starttime} AND firsttime  &lt; #{endtime}  AND stat=-1 )    AS validcount ,
               (SELECT COUNT(*)  FROM `crmdata` WHERE source LIKE(${source}) AND
                   firsttime>#{starttime} AND firsttime  &lt; #{endtime}  AND datasource='接口提交' ) AS apicount,

               (SELECT COUNT(*)  FROM `crmdata` WHERE source LIKE(${source}) AND
                   firsttime>#{starttime} AND firsttime  &lt; #{endtime}  AND datasource='客户录入' ) AS servicecount


        FROM `crmdata` WHERE source LIKE(${source}) AND
            firsttime>#{starttime} AND firsttime  &lt;  #{endtime}

    </select>

    <select id="SelectCrmdataCountBySourceIsNull"  resultType="com.example.springboot.entity.CrmdataCount">

        SELECT COUNT(*) AS `sumcount`,
               (SELECT COUNT(*)  FROM `crmdata` WHERE  firsttime>#{starttime} AND firsttime  &lt; #{endtime}  AND stat=-1 )    AS validcount ,
               (SELECT COUNT(*)  FROM `crmdata` WHERE  firsttime>#{starttime} AND firsttime  &lt; #{endtime}  AND datasource='接口提交' ) AS apicount,

               (SELECT COUNT(*)  FROM `crmdata` WHERE  firsttime>#{starttime} AND firsttime  &lt; #{endtime}  AND datasource='客户录入' ) AS servicecount

        FROM `crmdata` WHERE  firsttime>#{starttime} AND firsttime  &lt;  #{endtime}

    </select>
    <update id="UpdataColorByCid">

        UPDATE `crmdata` SET color=#{color} WHERE cid=#{cid}

    </update>
    <select id="SelectCrmdataBySourceIsSearch" resultType="com.example.springboot.entity.Crmdata">


        SELECT *,(SELECT (lastcon) FROM `record`   WHERE  cid= `crmdata`.cid ORDER BY lasttime DESC LIMIT 0,1 ) AS lastcon FROM `crmdata` WHERE  phone LIKE CONCAT('%',#{phone},'%') ORDER BY cid DESC  LIMIT 0,10


    </select>



</mapper>