<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.example.springboot.dao.MonthMapper">


    <select id="SelectMonth" resultType="com.example.springboot.entity.Month">

        SELECT  COALESCE(SUM(total),0) as `monthtotal` FROM `order` WHERE `time`> #{starTime} AND `time` &lt; #{endtime}

    </select>
</mapper>