<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.example.springboot.dao.TotalMapper">

    <select id="TotalAll"  resultType="com.example.springboot.entity.Total">


        SELECT uname as name,SUM(total) AS `value` FROM `order` WHERE  `time`>#{starttime} AND `time` &lt;#{endtime} GROUP BY uid ORDER BY total DESC


    </select>
</mapper>