<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.example.springboot.dao.UserpisteMapper">

<select id="UserpisteAll" resultType="com.example.springboot.entity.Userpiste">

    SELECT * FROM `userpiste` WHERE cid=#{cid} ORDER BY ptime DESC

</select>

    <insert id="InsertUserpiste" >

        INSERT INTO`userpiste` VALUE(NULL,#{cid},#{ptime},#{pcon},#{uid},#{uname})

    </insert>

    <delete id="DeleteUserpisteByPid">

        DELETE FROM `userpiste` WHERE pid=#{pid}

    </delete>
</mapper>