<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.example.springboot.dao.sys.SysMapper">


    <select id="SelectSysByscheduledtime" resultType="com.example.springboot.entity.Sys">


        SELECT * FROM `sys` WHERE sid=1

    </select>
    <select id="SelectCrmdataByscheduledtime" resultType="com.example.springboot.entity.Crmdata">

        SELECT * FROM `crmdata` WHERE stat IN(0)

    </select>
    <select id="SelectCrmdataByscheduledtime2" resultType="com.example.springboot.entity.CrmdataScheduled">
        SELECT cid,lastuname,lastuid,lasttime,
               (SELECT ptime FROM`userpiste` WHERE  cid =c.`cid` ORDER BY ptime DESC  LIMIT 0,1 )
               `time`FROM crmdata AS c WHERE stat IN(-1)



    </select>
    <select id="SelectCrmdataByscheduledOpenDan" resultType="int">
        SELECT COUNT(*) FROM `order` WHERE cid=#{cid}
    </select>

<update id="UpdateCrmdataByTimeState" >
    UPDATE `crmdata`  SET stat=#{stat} WHERE cid=#{cid}
</update>

    <insert id="InsertCrmdata_timer">
        INSERT INTO `crmdata_timer` VALUE(NULL,DEFAULT,#{cont},#{size})
    </insert>

    <update id="UpdateSysByScheduledtime">

        UPDATE `sys` SET scheduledtime=#{scheduledtime},scheduledday=#{scheduledday} WHERE sid=1

    </update>

</mapper>