<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.example.springboot.dao.chat.ChatUserMapper">

    <select id="Chat_UserByComId" resultType="com.example.springboot.entity.chat.chat_user">

        SELECT * FROM `chat_user` WHERE cid=#{cid} AND userLogoState = 1 AND userState = 1

    </select>


</mapper>